body {
  font-family: "Poppins";
  background: darkslategrey;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/St-Gallen-Switzerland.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 3px;
  margin: 0;
}

header a {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  background: #ffffff;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
  color: darkslategray;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/126/800/original/sg.jpg?1716021781");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7;
  margin-right: 20px;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 24px;
  }
  header h3 {
    font-size: 12px;
  }
}
